.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Slide-container table {
    border-collapse: collapse;
    margin-top: 1rem;
    border: 1px solid black;
}

.Slide-container table thead {
    background-color: darkgrey;
    color: white;
}

.Slide-container td {
    padding: 1rem;
    border: 1px solid black;
    text-align: left;
}

.Slide-container.header {
    display: flex;
    flex-direction: row;
    width: 5rem;
}

.SortButtons {
}

.DataTable-sorter {
    display: inline;
}

.DataTable-sorter img {
    width: 20%;
    display: inline;
    margin-left: 10px;
}

.sorted {
    background: lightgrey;
}

.sorted.down::after {
    content: "&darr;"
}

.sorted.up::after {
    content: "&uparr;"
}
